<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>SLAP Web App</display-name>
  <description>SLAP Web App</description>

  <!-- Defined as context-params, so available to all servlets. And JSPs?? -->
  <context-param>
    <param-name>API_HOST</param-name> <!-- SLAP REST API host -->
      <param-value>cheminfov.luddy.indiana.edu</param-value>
  </context-param>
  <context-param>
    <param-name>API_BASE_PATH</param-name> <!-- SLAP REST API base path -->
      <param-value>/rest/Chem2Bio2RDF</param-value>
  </context-param>
  <context-param>
    <param-name>DBHOST</param-name> <!-- PostgreSQL Db host -->
      <param-value>cheminfov.luddy.indiana.edu</param-value>
  </context-param>
  <context-param>
    <param-name>DBPORT</param-name> <!-- PostgreSQL Db port -->
      <param-value>5432</param-value> <!-- default is 5432 -->
  </context-param>
  <context-param>
    <param-name>DBSCHEMA</param-name>
      <param-value>public</param-value>
  </context-param>
  <context-param>
    <param-name>DBNAME</param-name>
      <param-value>chord</param-value>
  </context-param>
  <context-param>
    <param-name>DBUSR</param-name>
      <param-value>cicc3</param-value>
  </context-param>
  <context-param>
    <param-name>DBPW</param-name>
      <param-value></param-value>
  </context-param>

  <servlet>
    <servlet-name>slap</servlet-name>
    <servlet-class>edu.indiana.sice.idsl.slap.Semantic_Link_Association_Prediction</servlet-class>
    <!-- init-param><param-name>DBHOST</param-name -->
      <!-- param-value>cheminfov.informatics.indiana.edu</param-value></init-param -->
    <!-- init-param><param-name>DBSCHEMA</param-name -->
      <!-- param-value>public</param-value></init-param -->
    <init-param><param-name>UPLOADDIR</param-name>
      <param-value>/tmp</param-value></init-param>
    <init-param><param-name>MAX_POST_SIZE</param-name>
      <param-value>10485760</param-value></init-param>
    <init-param><param-name>LOGDIR</param-name>
      <param-value>${catalina.home}/logs</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>slap</servlet-name>
    <url-pattern>/slap</url-pattern>
  </servlet-mapping>

 <servlet>
  <description>SLAP J2EE component</description>
  <display-name>SLAP J2EE component</display-name>
  <servlet-name>Semantic_Link_Association_Prediction</servlet-name>
  <servlet-class>edu.indiana.sice.idsl.slap.Semantic_Link_Association_Prediction</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Semantic_Link_Association_Prediction</servlet-name>
  <url-pattern>/Semantic_Link_Association_Prediction</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>TraceUserFeedback</servlet-name>
  <servlet-class>edu.indiana.sice.idsl.slap.TraceUserFeedback</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>TraceUserFeedback</servlet-name>
  <url-pattern>/TraceUserFeedback</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>RetrieveData</servlet-name>
  <servlet-class>edu.indiana.sice.idsl.slap.RetrieveData</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RetrieveData</servlet-name>
  <url-pattern>/RetrieveData</url-pattern>
 </servlet-mapping>

 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
  <welcome-file>/slap.jsp</welcome-file>
 </welcome-file-list>

 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>

</web-app>
